/****************************************
* styles pour créer un style "ruban"
* pour l'étiquette des catégories dans les listes d'articles.

* voir essais et sources sur http://codepen.io/aldelpech/pen/epwNBz
****************************************/

.cb-post-list {
	padding: 30px;
	background-color: #d5d5d5;
}

.ribbon-cat a {
    color: white;
}

.list-gallery {
    width: 100%;
    /* float: right; */
    margin-right: -10px;
}

.list .list-gallery .gallery-zone {
    background: none;
}
.gallery-zone {
    width: 100%;
    position: relative;
    background: lightblue;
}

.gallery-zone .background {
    background: #E3DCCD;
    /* width: 90%; */
    margin: 0 15px;
    padding: 28px 15px 13px 15px;
}

.gallery-zone article {
    background: white;
    width: 100%;
    /* 
	margin: 0 15px;
    padding: 28px 15px 13px 15px;
	*/
}

.gallery-zone .background>article>.title {
    margin: 0 -30px 28px -30px;
    background:  #F60 ;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
}

.gallery-zone .background>article>.title span {
    display: block;
}

.list .gallery-zone .title-triangle.left {
    border-color: #bd4b19 #bd4b19 transparent transparent;
}
.gallery-zone .title-triangle.left {
    left: 0;
    border-color: #BD4B19 #BD4B19 lightblue lightblue;
}
.gallery-zone .title-triangle {
    position: absolute;
    border-style: solid;
    border-width: 8px;
    width: 0;
    height: 0;
    top: 63px;
}

.list .gallery-zone .title-triangle.right {
    border-color: #bd4b19 transparent transparent #bd4b19;
}
.gallery-zone .title-triangle.right {
    right: 0;
    border-color: #BD4B19 #FFFFEB #FFFFEB #BD4B19;
}

