/****************************************
* styles pour créer un style "ruban"
* pour l'étiquette des catégories dans les listes d'articles.

* voir essais et sources sur http://codepen.io/aldelpech/pen/epwNBz
****************************************/

.list-gallery .bloc-article .categories {
    background-color: #ed693b;
    border-radius: 5px 15px 15px 5px;
    -moz-border-radius: 5px 15px 15px 5px;
    -webkit-border-radius: 5px 15px 15px 5px;
    padding: 8px;
    float: left;
    margin-left: -20px;
    position: relative;
    top: 15px;
}


.gallery-zone .bloc-article a img {
	border: 2px solid red !important;
}


section.cb-post-list {
    /*     padding: 0;
	background-color: lightcoral; */
}

.ribbon-cat a {
    color: white;
    font-size: 0.75rem;
}

.list-gallery {
    width: 100%;
    /* float: right; */
    margin-right: -10px;
}

.list .list-gallery .gallery-zone {
    background: none;
}
.gallery-zone {
    width: 100%;
    position: relative;
    background: lightblue;
}

.gallery-zone article {
    background: #E3DCCD;
    width: 97%;
    margin: 0 15px;
    padding: 28px 15px 13px 15px;
}

/*
.gallery-zone article {
    background: white;
    width: 100%;
}
*/

.gallery-zone article>.title {
    margin: 0 -30px 28px -30px;
    background:  #ed693b /* #F60*/ ;
    text-align: left;
    text-transform: uppercase;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
	max-width: 100%;
    display: inline-block;
    padding-right: 5%;
	padding-left: 5%;
	border-radius: 5px 15px 15px 0px;
    -moz-border-radius: 5px 15px 15px 0px;
    -webkit-border-radius: 5px 15px 15px 0px;
}

.gallery-zone article>.title span {
    display: block;
}

.list .gallery-zone .title-triangle.left {
    border-color: #bd4b19 #bd4b19 transparent transparent;
}
.gallery-zone .title-triangle.left {
    left: 0;
    border-color: #BD4B19 #BD4B19 lightblue lightblue;
}
.gallery-zone .title-triangle {
    position: absolute;
    border-style: solid;
    border-width: 8px;
    width: 0;
    height: 0;
    top: 63px;
}

.list .gallery-zone .title-triangle.right {
    border-color: #bd4b19 transparent transparent #bd4b19;
}
.gallery-zone .title-triangle.right {
    right: 0;
    border-color: #BD4B19 #FFFFEB #FFFFEB #BD4B19;
}

